{% extends 'base.html' %}
{% block content %}
<p style="color: red; font-weight: bold; font-size: x-large;">Are you sure you want to delete these Notes?</p>
<ul>
    <li>Subjective:
        {% if object.subjective %}
        {{ object.subjective }}
        {% else %}
        -
        {% endif %}
    </li>
    <li>Objective:
        {% if object.objective %}
        {{ object.objective }}
        {% else %}
        -
        {% endif %}
    </li>
    <li>Plan:
        {% if object.plan %}
        {{ object.plan }}
        {% else %}
        -
        {% endif %}
    </li>
</ul>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn red" style="text-transform:none; font-size: 18px;">Delete</button>
    <a href="{% url 'appointment_detail' object.appointment.id %}#notes"
        class="btn grey darken-2 waves-effect waves-light" style="text-transform:none; font-size: 18px;">Cancel</a>
</form>
{% endblock %}