{% extends 'base.html' %}

{% block content %}
<h3 style="font-weight: bolder;">{{ request.user.username|upper }}'s Profile</h2>
  <p style="font-weight: bold;"><strong>Role:</strong> {{ profile.role|capfirst }}</p>
  <p style="font-weight: bold;"><strong>Full Name:</strong> {{ profile.fullname }}</p>
  <p style="font-weight: bold;"><strong>Phone:</strong> {{ profile.phone }}</p>
  <p style="font-weight: bold;"><strong>Address:</strong> {{ profile.address }}</p>

  <a href="{% url 'edit_profile' %}" class="btn red waves-effect waves-light"
    style="text-transform:none; font-size: 18px;">
    Edit Profile
  </a>
  {% endblock %}