{% extends "base.html" %}

{% block content %}
    <h3 style="font-weight: bolder;">About iCare</h3>
    <hr />
    <p style="font-size: x-large;"> iCare EMR is a state-of-the-art Electronic Medical Record system designed to streamline healthcare management. 
        It provides medical professionals with a secure, efficient, and user-friendly platform to manage patient information. 
        From appointments to medical history, lab results, and prescriptions, everything is accessible at your fingertips, 
        ensuring better patient care and smoother workflow. 
    </p>
{% endblock %}
