{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCare System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper indigo darken-4">
                <ul>
                    <li>
                        <a href="{% url 'home' %}" class="left brand-logo">
                            &nbsp;&nbsp;&nbsp;
                            <img src="{% static 'images/logo-2.png' %}" alt="iCare Logo"
                                style="width:100px; height:55px; border-radius:50%; vertical-align: middle;">
                            {% if user.is_authenticated %}
                            {{ user.username|upper }}
                            {% else %}
                            Guest
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    {% if user.profile.role == 'clerk' or user.profile.role == 'admin' %}
                    <li><a href="{% url 'patient_create' %}">Add Patient</a></li>
                    {% endif %}
                    <li><a href="{% url 'index' %}">View All Patients</a></li>
                    <li><a href="{% url 'profile' %}">My Profile</a></li>
                    {% if user.profile.role == 'doctor' or user.profile.role == 'admin' %}
                    <li><a href="{% url 'todays_appointment' %}">Today's Appointments</a></li>
                    <li><a href="{% url 'doctor_chat' %}">Doctor AI Assistant</a></li>
                    {% endif %}
                    {% if user.profile.role == 'admin' %}
                    <li><a href="{% url 'user_list' %}">User List</a></li>
                    {% endif %}
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Log Out</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {%block content %}
        {% endblock %}
    </main>
    <footer class="page-footer indigo darken-4">
        <div class="right">All Right Reserved, &copy; 2025 iCare &nbsp;</div>
    </footer>
</body>

</html>