{% extends "base.html" %}

{% block content %}

{% load static %}

<h3 style="font-weight: bolder;">Welcome to iCare EMR</h3>
<hr />
<p style="font-size: x-large;">With iCare EMR, patient data is always safe. Advanced encryption and strict access
    controls protect sensitive information,
    ensuring full compliance with healthcare regulations. Authorized staff can quickly access critical information while
    maintaining complete confidentiality.
</p>

<p style="font-size: x-large;">It minimizes paperwork and manual tasks, allowing healthcare providers to focus on
    patient care.
    Features like automated appointment scheduling, electronic prescriptions, and real-time updates on patient health
    records make your practice more efficient and organized.
</p>
{% endblock %}