{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCare System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <main class="">
        {%block content %}
        {% endblock %}
    </main>
    <footer class="page-footer indigo darken-4">
        <div class="right">All Right Reserved, &copy; 2025 iCare &nbsp;</div>
    </footer>
</body>

</html>