{% extends 'base.html' %}
{% block content %}
<h3 style="font-weight: bolder;">Update Lab</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn blue" style="text-transform:none;">Update</button>
    <a href="{% url 'appointment_detail' object.appointment.id %}#labs" class="btn grey" style="text-transform:none;">Cancel</a>
</form>
<script>
    let selectEl = document.getElementById('id_lab_status');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}
