{% extends 'base.html' %}
{% block content %}
<h3 style="font-weight: bolder;">Update Alert</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn blue" style="text-transform:none; font-size: 18px;">Update</button>
    <a href="{% url 'detail' object.patient.id %}" class="btn grey darken-2 waves-effect waves-light"
        style="text-transform:none; font-size: 18px;">Cancel</a>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modalElems = document.querySelectorAll('.modal');
        M.Modal.init(modalElems);

        var selects = document.querySelectorAll('select');
        M.FormSelect.init(selects);
    });
</script>
{% endblock %}