{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container" style="margin-top: 30px; max-width: 700px;">
    <div class="card">
        <div class="card-content">

            <form method="get" action="{% url 'index' %}" style="margin:0; padding:0;">
                <div class="row" style="margin:0; padding:0; display:flex; align-items:center; gap:10px;">

                    <div class="input-field col s8" style="margin:0; padding:0;">
                        <input id="search" type="text" name="q" value="{{ query|default:'' }}" style="margin:0;">
                        <label for="search" style="margin:0;">Search by National ID or Name</label>
                    </div>

                    <div class="col s3" style="margin:0; padding:0; display:flex; align-items:center;">
                        <button type="submit" class="btn blue waves-effect waves-light"
                            style="width:100%; text-transform:none; margin:0; font-size: 18px;">
                            Search
                        </button>
                    </div>

                    <div class="col s3" style="margin:0; padding:0; display:flex; align-items:center;">
                        <a href="{% url 'index' %}" class="btn pink"
                            style="width:100%; text-transform:none; margin:0; font-size: 18px;">
                            Clear
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="display: flex; align-items: center; justify-content: space-between; margin-top: 20px;">
    <h3 style="font-weight: bolder; margin: 0;">Patients List</h3>
    {% if user.is_authenticated %}
    {% if user.profile.role == 'clerk' or user.profile.role == 'admin' %}
    <a href="{% url 'patient_create' %}" class="btn grey darken-2 waves-effect waves-light"
        style="text-transform:none;">
        Add Patient
    </a>
    {% endif %}
    {% endif %}
</div>

{% for patient in patients %}
<div class="card"
    style="display: flex; align-items: center; justify-content: space-between; padding: 5px 15px; gap: 20px;">
    <div class="card-content" style="flex: 1; display: flex; align-items: center; gap: 20px;">
        <a href="{% url 'detail' patient.id %}" style="text-decoration: none; margin: 0; padding: 0; line-height: 1;">
            <span
                style="font-size: 30px; font-weight: bold; line-height: 1; display: inline-block; margin: 0; padding: 0;">
                {{ patient.patient_name }}
            </span>
        </a>
        <p style="font-size: 18px; font-weight: bold; margin: 0; padding: 0; line-height: 1.2;">
            National ID: {{ patient.national_id }} -
            DOB: {{ patient.date_of_birth }} -
            Gender: {{ patient.gender|capfirst }} -
            Phone: {{ patient.phone }}
        </p>
    </div>
    <div class="card-image" style="margin: 0; padding: 0;">
        <img src="{% static patient.image|cut:'main_app/static/' %}" alt="{{ patient.patient_name }}"
            style="max-width: 60px; height: 60px; border-radius: 8px; display: block;" />
    </div>
</div>

{% empty %}
<p>No patients found.</p>
{% endfor %}
{% endblock %}